<div class="flip-card full-size" (click)="flip()" [ngClass]="{'flipped': flippedFlag}">
    <div class="album-cover frontside full-size flex-centered">
        <img [src]="song.cover_art_url" onerror="this.src='assets/default-album-art.png'">
    </div>
    <div class="album-cover backside full-size flex-centered">
        <div class="lyrics full-size" [ngClass]="{'no-lyrics': !song.lyrics}">
            <i *ngIf="!song.lyrics" class="material-icons">info</i>
            <span class="lyrics-text">{{song.lyrics || 'No lyrics'}}</span>
        </div>
    </div>
</div>