.album-cover {
    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        border-radius: 10px;
    }
}

.backside {
    .lyrics {
        display: flex;
        justify-content: center;
        text-align: center;
        overflow-y: scroll;
        -webkit-user-select: none;
        white-space: pre-wrap;
        i {
            padding-right: 1%;
        }
        .lyrics-text {
            padding-bottom: 5%;
            padding-top: 5%;
            height: fit-content;
        }
    }
}

.no-lyrics {
    align-items: center;
    overflow: hidden !important;
}