<div class="responsive-page">
    <div class="player-grid">
        <div class="song-container" *ngIf="selectedSong">
            <div class="currently-playing" *ngIf="currentSong && isPlaying(currentSong)">
                <p>playing: <b (click)="selectSong(currentSong)">{{currentSong.name}}</b></p>
            </div>
            <div class="flip-card" (click)="flippedFlag = !flippedFlag" [ngClass]="{'flipped': flippedFlag}">
                <div class="album-cover frontside">
                    <img [src]="selectedSong.cover_art_url" onerror="this.src='assets/default-album-art.png'">
                </div>
                <div class="album-cover backside">
                    <div class="lyrics" [ngClass]="{'no-lyrics': !selectedSong.lyrics}">
                        <i *ngIf="!selectedSong.lyrics" class="material-icons">info</i>
                        <span class="lyrics-text">{{selectedSong.lyrics || 'No lyrics'}}</span>
                    </div>
                </div>
            </div>
            <div class="info-container large-font">
                <div class="info-container-item bold">{{selectedSong.name}}</div>
                <div class="info-container-item">{{selectedSong.artist}}</div>
                <div class="info-container-item">{{selectedSong.album || '(No album)'}}
                    <!-- <i class="material-icons" (click)="searchAlbum(selectedSong.album)">album</i> -->
                </div>
            </div>
        </div>
        <div class="song-list">
            <app-search></app-search>
            <div *ngIf="filteredPlaylist?.length">
                <ul>
                    <li *ngFor="let song of filteredPlaylist" [draggable]="true" (dragover)="dragOver($event)"
                        (dragend)="dragEnd($event)" (drop)="dragDrop($event)">
                        <div class="song-list-item" (click)="selectSong(song)"
                            [ngClass]="{'song-list-item-playing': isPlaying(song), 'song-list-item-selected': isSelected(song)}">
                            <b>{{song.name}}</b>
                            <br>{{song.artist}}
                        </div>
                    </li>
                </ul>
            </div>
            <div *ngIf="!filteredPlaylist?.length" class="song-list-not-found">
                <i class="material-icons">error</i>
                No songs found!
            </div>
        </div>
        <div class="controls">
            <input #progress type="range" class="time-bar" min="0" max="1" step="0.001" value="0" [(ngModel)]="audioService.progress">
            <div class="play-previous icon right" (click)="previousSong()"></div>
            <div class="play-pause icon center" [ngClass]="{'play-icon': !playing, 'pause-icon': playing}"
                (click)="togglePlay()"></div>
            <div class="play-next icon left" (click)="nextSong()"></div>
            <div class="shuffle icon center" [ngClass]="{'shuffle-on': shuffle, 'shuffle-off': !shuffle}"
                (click)="toggleShuffle()"></div>
            <div class="show-lyrics icon center"></div>
        </div>
    </div>
</div>