<div class="responsive-page">
    <div class="player-grid">
        <div class="song-container" *ngIf="selectedSong">
            <app-album-cover [song]="selectedSong"></app-album-cover>
            <app-song-info [song]="selectedSong"></app-song-info>
        </div>
        <div class="song-list">
            <div class="search-container full-size flex-centered">
                <app-search></app-search>
            </div>
            <app-song-list></app-song-list>
        </div>
        <div class="controls">
            <app-timebar></app-timebar>
            <app-controls></app-controls>
        </div>
    </div>
</div>