.player-grid {
    display: grid;
    grid-template-columns: 50vw 50vw;
    grid-template-rows: 70vh 30vh;
    grid-template-areas:
        "a b"
        "c b";
}

.controls {
    grid-area: c;
    display: grid;
    grid-template-columns: 22.73% 15.91% 22.73% 15.91% 22.73%;
    grid-template-rows: repeat(3, 3fr);
    .time-bar {
        grid-row: 1/2;
        grid-column: 1/6;
        margin-right: 3%;
        margin-left: 3%;
        background: #e1e1e1;
        opacity: 0.7;
        -webkit-transition: .2s;
        transition: opacity .2s;
        border-radius: 20px;
    }
    .time-bar:hover {
        opacity: 1;
    }
    .show-lyrics {
        grid-row: 2/3;
        grid-column: 1/2;
        margin-left: 25%;
        margin-right: 25%;
    }
    .play-pause {
        grid-row: 2/3;
        grid-column: 3/4;
    }
    .play-previous {
        grid-row: 2/3;
        grid-column: 2/3;
    }
    .play-next {
        grid-row: 2/3;
        grid-column: 4/5;
    }
    .shuffle {
        grid-row: 2/3;
        grid-column: 5/6;
        margin-left: 25%;
        margin-right: 25%;
    }
}

.icon {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.song-container {
    grid-area: a;
    display: grid;
    grid-template-columns: 5% 90% 5%;
    grid-template-rows:  5% 75% 20%;
    .album-cover {
        grid-row: 2/3;
        grid-column: 2/3;
    }
    .info-container {
        grid-row: 3/4;
        grid-column: 2/3;
        text-align: center;
        display: inline;
        vertical-align: middle;
    }
}

.song-list {
    grid-area: b;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(15, 6.667%);
    overflow-y: scroll;
    .song-list-item {
        border-left: 1px solid white;
        border-bottom: 1px solid white;
        padding-left: 5%;
    }
    .song-list-item:hover {
        background-color: white;
        color: black;
    }
    .song-list-search {
        display: flex;
        height: 50%;
        width: 75%;
        input {
            flex: 1;
            border: 2px solid white;
            border-radius: 0px 2px 2px 0;
            background-color: #1e1e1e;
            color: lightgrey;
            outline: none;
            width: 85%;
            padding-left: 0.5%;
        }
        .song-list-addon {
            background-color: orange;
            color: black;
            border: 2px solid white;
            border-radius: 2px 0 0 2px;
            width: 15%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

@media only screen and (max-width: 630px) {
    .player-grid {
        grid-template-columns: 100vw;
        grid-template-rows: 70vh 30vh;
        grid-template-areas:
            "a"
            "c";
    }
}