.player-grid {
    display: grid;
    grid-template-columns: 50vw 50vw;
    grid-template-rows: 75vh 25vh;
    grid-template-areas:
        "a b"
        "c b";
    audio {
        display: none;
    }
}

.controls {
    grid-area: c;
    display: grid;
    grid-template-rows: 1fr 2fr 0.5fr;
}

.song-container {
    grid-area: a;
    display: grid;
    grid-template-columns: 5% 90% 5%;
    grid-template-rows:  3% 77% 20%;
    app-album-cover {
        grid-row: 2/3;
        grid-column: 2/3;
    }
    app-song-info {
        grid-row: 3/4;
        grid-column: 2/3;
    }
}

.song-list {
    grid-area: b;
    display: grid;
    grid-template-rows: 1fr 14fr;
    app-search {
        height: 50%;
        width: 80%;
    }
    app-song-list {
        overflow: scroll;
    }
}

@media only screen and (orientation: portrait) {
    .player-grid {
        grid-template-columns: 100vw;
        grid-template-rows: 70vh 30vh;
        grid-template-areas:
            "a"
            "c";
    }
}