<div class="responsive-page">
    <div class="player-grid">
        <div class="song-container" *ngIf="selectedSong">
            <!-- <div class="currently-playing" *ngIf="currentPlayingSong && playing">
                <p>playing: <b (click)="selectSong(currentPlayingSong)">{{currentPlayingSong.name}}</b></p>
            </div> -->
            <div class="flip-card" (click)="flipLyrics()" [ngClass]="{'flipped': flippedFlag}">
                <div class="album-cover frontside">
                    <img [src]="selectedSong.cover_art_url" onerror="this.src='assets/default-album-art.png'">
                </div>
                <div class="album-cover backside">
                    <div class="lyrics">
                        {{selectedSong.lyrics}}
                    </div>
                </div>
            </div>
            <div class="info-container large-font">
                <div class="info-container-item bold">{{selectedSong.name}}</div>
                <div class="info-container-item">{{selectedSong.artist}}</div>
                <div class="info-container-item">{{selectedSong.album || '(No album)'}}
                    <i class="material-icons" (click)="searchAlbum(selectedSong.album)">album</i>
                </div>
            </div>
        </div>
        <div class="song-list" *ngIf="currentPlaylist?.songs?.length">
            <app-search></app-search>
            <div *ngIf="filteredPlaylist?.length">
                <div class="song-list-item" *ngFor="let song of filteredPlaylist" (click)="songClick(song)"
                    [ngClass]="{'song-list-item-playing': songPlaying(song)}">
                    <b>{{song.name}}</b>
                    <br>{{song.artist}}
                </div>
            </div>
            <div *ngIf="!filteredPlaylist?.length" class="song-list-not-found">
                <i class="material-icons">error</i>
                No songs found!
            </div>
        </div>
        <div class="controls">
            <input type="range" class="time-bar">
            <div class="play-previous icon right" (click)="changeSong(true)"></div>
            <div class="play-pause icon center" [ngClass]="{'play-icon': !playing, 'pause-icon': playing}"
                (click)="play()"></div>
            <div class="play-next icon left" (click)="changeSong()"></div>
            <div class="shuffle icon center" [ngClass]="{'shuffle-on': shuffle, 'shuffle-off': !shuffle}"
                (click)="toggleShuffle(searchInput.nativeElement.value)"></div>
            <div class="show-lyrics icon center"></div>
        </div>
        <audio #audio></audio>
    </div>
</div>