.player-grid {
    display: grid;
    grid-template-columns: 50vw 50vw;
    grid-template-rows: 63vh 37vh;
    grid-template-areas:
        "a b"
        "c b";
        .song-container {
            grid-area: a;
            background-color: red;
            img {
                // object-position: center;
                // object-fit: contain;
            }
        }
        
        .song-list {
            grid-area: b;
            background-color: greenyellow;
        }
}

.controls {
    grid-area: c;
    background-color: blue;
    display: grid;
    grid-template-columns: 22.73% 15.91% 22.73% 15.91% 22.73%;
    grid-template-rows: 33.33% 33.33% 33.33%;
    .show-lyrics {
        grid-row: 2/3;
        grid-column: 1/2;
        margin-left: 25%;
        margin-right: 25%;
    }
    .play-pause {
        grid-row: 2/3;
        grid-column: 3/4;
    }
    .play-previous {
        grid-row: 2/3;
        grid-column: 2/3;
    }
    .play-next {
        grid-row: 2/3;
        grid-column: 4/5;
    }
    .shuffle {
        grid-row: 2/3;
        grid-column: 5/6;
        margin-left: 25%;
        margin-right: 25%;
    }
}

.icon {
    border: 1px solid lightgrey;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

@media only screen and (max-width: 630px) {
    .player-grid {
        grid-template-columns: 100vw;
        grid-template-rows: 63vh 37vh;
        grid-template-areas:
            "a"
            "c";
    }
}