.controls-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 22.73% 15.91% 22.73% 15.91% 22.73%;

    .shuffle {
        grid-column: 1/2;
        margin-left: 25%;
        margin-right: 25%;
    }
    .play-pause {
        grid-column: 3/4;
    }
    .play-previous {
        grid-column: 2/3;
    }
    .play-next {
        grid-column: 4/5;
    }
    .volume-slider {
        grid-column: 5/6;
        margin-left: 25%;
        margin-right: 25%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        input {
            outline: none;
            border: 1px solid var(--grey-accent);
            border-radius: 10px;
            width: 80%;
        }
        p {
            text-align: center;
            position: absolute;
            margin: 0;
            bottom: 0px;
        }
    }
}

.volume {
    -webkit-appearance: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    background-color: transparent;
    transform: rotateZ(270deg);
}

.volume:hover {
    opacity: 1;
}

.volume::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    appearance: none !important;
    border-radius: 10px;
    width: 15px;
    height: 15px;
    background: var(--grey-accent);
    cursor: pointer;
}
  