<div class="controls-container">
    <div class="shuffle icon center" [ngClass]="{'shuffle-on': shuffle, 'shuffle-off': !shuffle}"
        (click)="toggleShuffle()">
    </div>
    <div class="play-previous icon right" (click)="previousSong()"></div>
    <div class="play-pause icon center" [ngClass]="{'play-icon': !playing, 'pause-icon': playing}"
        (click)="togglePlay()">
    </div>
    <div class="play-next icon left" (click)="nextSong()"></div>
    <div class="volume-slider">
        <input type="range" orient="vertical" class="volume"
            min="0" max="100" step="1" value="50" [(ngModel)]="volume">
        <p>{{volume}}%</p>
    </div>
</div>