.info-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    .info-container-item {
        flex: 1;
        -webkit-user-select: none;
        i {
            margin-left: 1%;
        }
        &:not(.bold) {
            color: var(--disabled-text-color);
        }
    }
}