<div class="full-size flex-centered">
    <div class="info-container">
        <div class="info-container-item flex-centered bold">
            <app-star-rating [value]="5"></app-star-rating>
        </div>
        <div class="info-container-item flex-centered bold">{{song.name}}</div>
        <div class="info-container-item">{{song.artist}}
            <i *ngIf="song.artist" class="material-icons" (click)="filter(song.artist, 'Artist')">person</i>
        </div>
        <div class="info-container-item">{{song.album || '(No album)'}}
            <i *ngIf="song.album" class="material-icons" (click)="filter(song.album, 'Album')">album</i>
        </div>
    </div>
</div>