.song-list-container {
    overflow-y: scroll;
}

ul {
    list-style: none;
    padding: 0;
    li {
        height: 40px;
    }
}

.song-list-item {
    outline: 0;
    display: flex;
    align-items: center;
        -webkit-user-select: none;
        .song-list-item-index {
        color: var(--disabled-text-color);
        width: 10%;
    }
    .song-list-item-text {
        width: 65%;
    }
    .song-list-item-duration {
        color: var(--disabled-text-color);
        width: 10%;
    }
    .song-list-item-star-rating {
        width: 10%;
    }
}

.song-list-item:hover, .song-list-item:focus {
    background-color: var(--dark-accent);
    .song-list-item-text {
        padding-left: 5px;
        margin-right: -5px;
        transition: all 0.11s ease-in-out;
    }
}

.song-list-item-selected:not(.song-list-item-playing) {
    background-color: var(--dark-accent);
}

.song-list-item-playing {
    background-image: linear-gradient(to right, var(--light-accent), var(--background-dark));
    .song-list-item-text {
        b {
            background: -webkit-linear-gradient(rgb(238, 100, 82), rgb(204, 92, 174));
            background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
}

.song-list-not-found {
    -webkit-user-select: none;
    i {
        margin-right: 1%;
    }
}