<div class="song-list-container full-size">
    <ul *ngIf="filteredPlaylist?.length">
        <li class="song-list-item" *ngFor="let song of filteredPlaylist" (click)="select(song)" [draggable]="true"
            (keyup.enter)="select(song)" (keydown.arrowup)="previous($event)" (keydown.arrowdown)="next($event)"
            (dragover)="dragOver($event)" (dragend)="dragEnd($event)" (drop)="dragDrop($event)" tabindex="0"
            [ngClass]="{'song-list-item-playing': isPlaying(song), 'song-list-item-selected': isSelected(song)}">
            <span class="song-list-item-index flex-centered">
                <b>{{song.playlist_index + 1}}</b>
            </span>
            <span class="song-list-item-text">
                <b>{{song.name}}</b>
                <br>{{song.artist}}
            </span>
            <span class="song-list-item-duration flex-centered">
                <b>{{90 | time}}</b>
            </span>
            <span class="song-list-item-star-rating flex-centered">
                <app-star-rating [value]="5"></app-star-rating>
            </span>
        </li>
    </ul>
    <div *ngIf="!filteredPlaylist?.length" class="song-list-not-found full-size flex-centered">
        <i class="material-icons">error</i>
        No songs found!
    </div>
</div>