.time-bar-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .time-display {
        position: absolute;
        top: 0;
        right: 3%;
        margin: 0px;
    }
}

.time-bar {
    width: 94%;
    margin: auto;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border-radius: 20px;
    background-color: transparent;
}

.time-bar:hover {
    opacity: 1;
}

input[type=range] {
  height: 100%;
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  height: 15px;
  cursor: pointer;
  box-shadow: 1px 1px 1px var(--background-dark);
  border-radius: 12px;
  background: var(--background-dark);
  border: 1px solid var(--grey-accent);
}

input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px black;
  border: 0px solid black;
  height: 15px;
  width: 20px;
  margin-top: -1px;
  border-radius: 15px;
  background: var(--grey-accent);
  cursor: pointer;
  -webkit-appearance: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: var(--background-dark);
}
