<div class="time-bar-container">
    <p class="time-display">-- {{info | playtime}} --</p>
    <input #progress type="range" class="time-bar" min="0" max="1" step="0.001" value="0"
        [(ngModel)]="audioService.progress">
</div>