<div class="search-component full-size">
    <div class="song-list-addon flex-centered bold" (click)="next(search.value)"
        [ngStyle]="{'background-color': searchService.searchColor}">
        {{searchService.searchType}}
        <i class="material-icons">{{searchService.searchIcon}}</i>
    </div>
    <input type="text" #search (input)="filter(search.value)">
    <div class="song-list-addon flex-centered icon bold">
        <i class="material-icons" (click)="click(search.value)">{{ search.value ? 'clear' : 'search' }}</i>
    </div>
</div>