.search-component {
    display: flex;
    border: 2px solid var(--grey-accent);
    border-radius: 5px;
    input {
        background-color: var(--background-dark);
        border-color: transparent;
        color: var(--text-color);
        outline: none;
        width: 80%;
        padding-left: 0.5%;
    }
    .song-list-addon {
        -webkit-user-select: none;
        &:not(.icon) {
            border-radius: 2px 0 0 2px;
            width: 20%;
        }
        &.icon {
            width: 30px;
            font-size: 25px;
        }
    }
}