.no-margin {
    margin: 0px !important;
}

.responsive-page {
    background-color: #1e1e1e;
    color: lightgrey;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

// #region Assets
.play-icon {
    background-image: url('src/assets/play.svg');
}

.pause-icon {
    background-image: url('src/assets/pause.svg');
}

.play-next {
    background-image: url('src/assets/next.svg');
}

.play-previous {
    background-image: url('src/assets/previous.svg');
}

.shuffle-off {
    background-image: url('src/assets/shuffle-off.svg');
}

.shuffle-on {
    background-image: url('src/assets/shuffle-on.svg');
}

.show-lyrics {
    background-image: url('src/assets/show-playlist.svg');
}

.close {
    background-image: url('src/assets/close.svg');
}
// #endregion

// #region Icons
.icon {
    background-repeat: no-repeat;
    background-size: contain;
}

.icon.center {
    background-position: center;
}

.icon.right {
    background-position: right;
}

.icon.left {
    background-position: left;
}

.icon.top {
    background-position: top;
}
// #endregion

.bold {
    font-weight: bold;
}

.large-font {
    font-size: 20px;
}

.bordered {
    border: 1px solid white;
    border-radius: 3px;
}


// #region font
// @font-face {
//     font-family: 'test';
//     font-style: normal;
//     font-weight: 400;
//     src: url(https://raw.githubusercontent.com/basvodde/scrumprimer/master/primer_source_files/overview_translations/scrum_japanese/Collected%20Fonts/Hiragino%20Kaku%20Gothic%20Pro/%E3%83%92%E3%83%A9%E3%82%AD%E3%82%99%E3%83%8E%E8%A7%92%E3%82%B3%E3%82%99%20Pro%20W6.otf) format('otf');
//   }

.responsive-page {
    font-family: 'Helvetica';
}
// #endregion

// #region flipcard
.flip-card {
    transition: transform 0.6s;
    transform-style: preserve-3d;
    .frontside, .backside {
        backface-visibility: hidden;
    }
    .backside {
        transform: rotateY(180deg);
        position: absolute;
        top: 0;
        left: 0;
    }
}

.flipped {
    transform: rotateY(180deg);
}
// #endregion

[draggable] {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    /* Required to make elements draggable in old WebKit */
    -khtml-user-drag: element;
    -webkit-user-drag: element;
  }