.no-margin {
    margin: 0px !important;
}

.responsive-page {
    background-color: #1e1e1e;
    color: lightgrey;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.play-icon {
    background-image: url('src/assets/play.svg');
}

.pause-icon {
    background-image: url('src/assets/pause.svg');
}

.play-next {
    background-image: url('src/assets/next.svg');
}

.play-previous {
    background-image: url('src/assets/previous.svg');
}

.shuffle-off {
    background-image: url('src/assets/shuffle-off.svg');
}

.shuffle-on {
    background-image: url('src/assets/shuffle-on.svg');
}

.show-lyrics {
    background-image: url('src/assets/show-playlist.svg');
}