:root {
    --background-dark: #1e1e1e;
    --text-color: lightgrey;
    --disabled-text-color: #777;
    --grey-accent: rgb(51, 51, 51);
    --light-accent: rgb(60, 64, 67);
    --dark-accent: rgb(24, 26, 27);
}